<!DOCTYPE HTML>
<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>TinyToggle - jQuery plugin</title>
   <link href='https://fonts.googleapis.com/css?family=Lato:200,400' rel='stylesheet' type='text/css'>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">   
   <link href="css/prettify.css" rel="stylesheet">
   <link href="css/demo.css" rel="stylesheet">   
   <link href="css/font-awesome.min.css" rel="stylesheet">
   <!-- LINK THE SRC TINYTOGGLE CSS -->      
   <link href="../src/tinytoggle/css/tiny-toggle.css" rel="stylesheet">
 </head> 
 <body>
 
  <div class="wrapper">
    
    <a href="https://github.com/EnomisTheArtist/TinyToggle" target="_blank"><img src="images/github-fork-me.png" class="fork-me"></a>
  
    <section class="m-t-none p-t-none">
      <div class="header">
        <h1>TinyToggle <small><span class="text-muted">Version 1.2.0</span></small></h1>       
        <p>jQuery plugin to create a <span>flexible and modern</span> checkbox input</p>
      </div>
      
      <div>
        <p style="font-size:1.2em;line-height: 1.3em;">
            TinyToggle is a simple and useful plug-in to mask the checkboxes html 
            inputs tag in your projects. You can choose from 13 different icons 
            sets available, you can also customize colors palette and size as you like and extend with external library like
            Font Awesome.<br>
            <br> 
            TinyToggle is based on web fonts css it's easy to use and light to include in your project.        
        </p>
        
        <h3 class="m-t-xl">News in 1.2.0 Version</h3>
        <ul>
          <li>Add groups management</li>
          <li>Add color css transition for switch status</li>          
          <li>Add method 'event' to set specific callbacks handler</li>
          <li>Add optionals labels to controller</li>
          <li>Add external iconset library integration (Ex. Font Awesome)</li>
          <li>AngularJs Directive</li>
        </ul>
        
        <h2 class="m-t-xxl">Docs Contents</h2>
        <ol>
          <li><a href="#get-started">Get Started</a></li>
          <li><a href="#types">Types Available</a></li>
          <li><a href="#font-awesome">Font Awesome Integration</a> <small style="color:#999999">(<i class="fa fa-bullhorn fa-fw"></i> New Feature)</small></li>
          <li><a href="#sizes">Sizes and Palettes Available</a></li>
          <li><a href="#methods">Behaviours and Callbacks</a></li>
          <li><a href="#groups">Manage Groups</a> <small style="color:#999999">(<i class="fa fa-bullhorn fa-fw"></i> New Feature)</small></li>
          <li><a href="#ng">AngularJs Directive</a> <small style="color:#999999">(<i class="fa fa-bullhorn fa-fw"></i> New Feature)</small></li>
        </ol>
        
      </div>
                  
    </section> 
    
    <section id="get-started">
      <div class="header">
        <h2>#1 - Get Started</h2>       
        <p>TinyToggle is <span>simple and usefull</span> trust me!</p>
      </div>      
      
      <div class="content">
         <pre class="prettyprint code">&lt;!-- Include css and js --&gt;
&lt;link href=&quot;%your_css_assets_path%/tinytoggle.min.css&quot; rel=&quot;stylesheet&quot;&gt;

&lt;script src=&quot;%your_js_assets_path%/jquery.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;%your_js_assets_path%/jquery.tinytoggle.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;

&lt;!-- Create checkbox input and add &quot;tiny-toggle&quot; class --&gt;  
&lt;input type=&quot;checkbox&quot; id=&quot;my-checkbox&quot; name=&quot;my_option&quot; class=&quot;tiny-toggle&quot;&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  // Customize default options
  $.fn.TinyToggle.defaults.type = "square";
  
  // Define your custom size and use it
  $.fn.TinyToggle.sizes["mysize"] = "36px";
  $.fn.TinyToggle.defaults.size = "mysize";
      
  // Initialize plug-in    
  $("#my-checkbox").tinyToggle({
    type:    "circle",
    palette: "red", 
    size:    "huge", // you can also specify defined custom sizes Ex. "mysize"
    onReady: function() { /* do something... */ },
    onClick: function() { /* do something */ },
    onChange: function() { /* do something... */ },
    onCheck: function() { /* do something... */ },
    onUncheck: function() { /* do something... */ },
    onDisabled: function() { /* do something... */ },
    onEnabled: function() { /* do something... */ }
  });    
&lt;/script&gt;</pre>
      </div>
    </section>  
  
  
    <section id="types">
      <div class="header">
        <h2>#2 - Types Available</h2>       
        <p>TinyToggle has <span>13 different types</span> available</p>
      </div>
      
      <div class="content">
        <table class="table">
         <tr>
           <td colspan="3" class="title">Types</td>
         </tr>
         <tr>
           <td class="text-right label">Toggle</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle"></td>
           <td><pre>data-tt-type="toggle"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Check</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="check"></td>
           <td><pre>data-tt-type="check"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Circle</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="circle"></td>
           <td><pre>data-tt-type="circle"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Square</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="square"></td>
           <td><pre>data-tt-type="square"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Square Checked</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="square_v"></td>
           <td><pre>data-tt-type="square_v"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Power</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="power"></td>
           <td><pre>data-tt-type="power"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Dot</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="dot"></td>
           <td><pre>data-tt-type="dot"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Like</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="like"></td>
           <td><pre>data-tt-type="like"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Watch</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="watch"></td>
           <td><pre>data-tt-type="watch"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Star</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="star"></td>
           <td><pre>data-tt-type="star"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Lock</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="lock"></td>
           <td><pre>data-tt-type="lock"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Heart</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="heart"></td>
           <td><pre>data-tt-type="heart"</pre></td>
         </tr>          
         <tr>
           <td class="text-right label">Smile</td>
           <td class="text-center"><input type="checkbox" class="tiny-toggle" data-tt-type="smile"></td>
           <td><pre>data-tt-type="smile"</pre></td>
         </tr> 
        </table>        
      </div>
      
      <div class="header" id="font-awesome">
        <h2>#3 - Font Awsome Integration</h2>       
        <p>You can also extends the icons set with <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> if you use it in your project.</p>
      </div>      
      
      <div class="content">
        <p>Use Font Awesome Icons</p>
        <pre class="prettyprint code">&lt;link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"&gt;
                
&lt;input id="custom" name="my_option" type="checkbox" class="tiny-toggle" 
  data-tt-icon-check="fa fa-battery-0"
  data-tt-icon-uncheck="fa fa-battery-4"
  data-tt-label-check="Perfect! Charge Completed" 
  data-tt-label-uncheck="Beware! Your battery is about to die"&gt;</pre>
        <table class="table">
         <tr>
           <td><input type="checkbox" id="custom" class="tiny-toggle"            
           data-tt-icon-uncheck="fa fa-battery-1"
           data-tt-icon-check="fa fa-battery-4"
           data-tt-color-uncheck="#990000"
           data-tt-label-check="Perfect! Charge Completed" 
           data-tt-label-uncheck="Beware! Your battery is about to die"></td>
         </tr>
        </table>    
          
      </div>      
      
      
      
   </section>

  <section id="sizes">
    <div class="header">
       <h2>#4 - Sizes and Palettes Available</h2>      
        <p>TinyToggle has <span>8 different sizes and palettes</span> available</p>
      </div>
      
      <div class="content">
      
    <div class="content">
      <div>
        <pre class="prettyprint code">&lt;input name="my_option" type="checkbox" class="tiny-toggle" 
    data-tt-type="circle"
    data-tt-size="large"&gt;</pre>
      </div>
    </div>        
      
       <div class="half">
         <div class="m-r-xs">
            <table class="table">
             <tr>
               <td colspan="2" class="title">Sizes</td>
             </tr>
             <tr>
               <td class="text-right label">Mini</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="mini"></td>
             </tr>
             <tr>
               <td class="text-right label">Small</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="small"></td>
             </tr>
             <tr>
               <td class="text-right label">Medium</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="medium"></td>
             </tr>           
             <tr>
               <td class="text-right label">Large</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="large"></td>
             </tr>           
             <tr>
               <td class="text-right label">Big</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="big"></td>
             </tr>           
             <tr>
               <td class="text-right label">Huge</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="huge"></td>
             </tr>           
             <tr>
               <td class="text-right label">Monster</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="monster"></td>
             </tr>           
             <tr>
               <td class="text-right label">Giant</td>
               <td><input type="checkbox" class="tiny-toggle" data-tt-size="giant"></td>
             </tr>                       
            </table>  
           </div>
       </div>
       
       <div class="half">
        <div class="m-l-xs">
         <table class="table">
          <tr>
            <td colspan="2" class="title">Palettes</td>
          </tr>
          <tr>
            <td class="text-right label">Standard</td>
            <td><input type="checkbox" class="tiny-toggle" checked></td>
          </tr>
            <tr>
              <td class="text-right label">Black</td>
              <td><input type="checkbox" class="tiny-toggle" data-tt-palette="black" checked></td>
            </tr>
            <tr>
              <td class="text-right label">Blue</td>
              <td><input type="checkbox" class="tiny-toggle" data-tt-palette="blue" checked></td>
            </tr>           
            <tr>
              <td class="text-right label">Purple</td>
              <td><input type="checkbox" class="tiny-toggle" data-tt-palette="purple" checked></td>
            </tr>           
            <tr>
              <td class="text-right label">Red</td>
              <td><input type="checkbox" class="tiny-toggle" data-tt-palette="red" checked></td>
            </tr>           
            <tr>
              <td class="text-right label">Green</td>
              <td><input type="checkbox" class="tiny-toggle" data-tt-palette="green" checked></td>
            </tr>           
            <tr>
              <td class="text-right label">Yellow</td>
              <td><input type="checkbox" class="tiny-toggle" data-tt-palette="yellow" checked></td>
            </tr>
            <tr>
              <td class="text-right dark">White</td>
              <td class="dark"><input type="checkbox" class="tiny-toggle" data-tt-palette="white" checked></td>
            </tr>                                              
         </table>        
        </div>
      </div> 
    </div>      
    <div class="fix"></div>
  </section>
  
  <section id="methods">
    <div class="header">
      <h2>#5 - Behaviours and Callbacks</h2>      
      <p>TinyToggle has <span>5 methods</span> implemented</p>
    </div>
    
    <div class="content">

      <div>
        <p>HTML Tag</p>
        <pre class="prettyprint code">&lt;input id="cb1" name="my_option" type="checkbox" class="tiny-toggle" 
    data-tt-type="circle"
    data-tt-size="large"
    data-tt-label-check="This is checked" 
    data-tt-label-uncheck="This is unchecked"&gt;</pre>
      </div>
    
      <div>
       <p>Javascript code</p>
       <pre class="prettyprint code">$("#cb1").tinyToggle({          
  onReady: function(obj) { writeLog("onReady", "TinyToggle '" + obj.attr("name") + "'  is ready!"); },
  onClick: function(obj) { writeLog("onClick", "TinyToggle '" + obj.attr("name") + "'  was clicked!"); },
  onChange: function(obj, value) { writeLog("onChange", "Input value changed for '" + obj.attr("name") + "' new value is " + value ); },
  onUncheck: function(obj) { writeLog("onUncheck", "Input '" + obj.attr("name") + "' now is FALSE"); },
  onDisabled: function(obj) { writeLog("onDisabled", "Input '" + obj.attr("name") + "' now is DISABLED"); },
  onEnabled: function(obj) { writeLog("onEnabled", "Input '" + obj.attr("name") + "' now is ENABLED"); }          
});

// You can also set specific handler with method 'event'
$("#cb1").tinyToggle("event", "onCheck", function(obj) {
  writeLog("onCheck", "Input '" + obj.attr("name") + "' now is TRUE");
});

</pre>
      </div>     
    
      <table class="table m-t-xl">
        <tr>
          <td class="title">Test TinyToggle Methods</td>
        </tr>
        <tr>

        </tr>
        <tr>
          <td>
            <input id="cb1" name="my_option" type="checkbox" class="tiny-toggle"
                    data-tt-type="circle" 
                    data-tt-size="large"
                    data-tt-label-check="This is checked" 
                    data-tt-label-uncheck="This is unchecked">
          </td>
        </tr>
        <tr>          
          <td class="text-center">
            <button class="myButton" onclick="$('#cb1').tinyToggle('enable')">Enable</button>
            <button class="myButton" onclick="$('#cb1').tinyToggle('disable')">Disable</button>
            &nbsp;&nbsp;&nbsp;
            <button class="myButton" onclick="$('#cb1').tinyToggle('check')">Check</button>
            <button class="myButton" onclick="$('#cb1').tinyToggle('uncheck')">Uncheck</button>
            <button class="myButton" onclick="$('#cb1').tinyToggle('toggle')">Toggle</button>
          </td>
        </tr>       
        <tr>
          <td colspan="2"><div id="event-log" class="event-log"></div></td>
        </tr>
      </table>    
    </div>    
  </section>
  
  
  <section id="groups">
    <div class="header">
      <h2>#6 - Grouping</h2>      
      <p>With TinyToggle you <span>can manage groups</span> of checkboxes</p>
    </div>
    
    <div class="content">
      
      <div>
        <p>Use tt-group data attribute to set the group of specific checkbox</p>
        <pre class="prettyprint code">&lt;input id="my-checkbox" name="my_option" type="checkbox" 
        class="tiny-toggle" 
        data-tt-group="%GROUP_NAME%"&gt;</pre>
      </div>
    
      <div>
        <p>Use TinyToggle methods to manage checkboxes group</p>
        <pre class="prettyprint code">$("#groups .tiny-toggle").tinyToggle("toggle", "%GROUP_NAME%");
$("#groups .tiny-toggle").tinyToggle("check", "%GROUP_NAME%");
$("#groups .tiny-toggle").tinyToggle("uncheck", "%GROUP_NAME%");</pre>
      </div>        
    
      <table class="table">
        <tr>
          <td colspan="3" class="title">Work With Groups</td>
        </tr>        
        <tr>
          <td class="text-right">My First Option</td>
          <td><input name="mygroup_option_1" type="checkbox" class="tiny-toggle" data-tt-group="group-one"></td>
          <td><pre>group-one</pre></td>
        </tr>
        <tr>
          <td class="text-right">My Second Option</td>
          <td><input name="mygroup_option_2" type="checkbox" class="tiny-toggle" checked data-tt-group="group-one"></td>
          <td><pre>group-one</pre></td>
        </tr>            
        <tr>
          <td class="text-right">My Third Option</td>
          <td><input name="mygroup_option_3" type="checkbox" class="tiny-toggle" data-tt-group="group-one"></td>
          <td><pre>group-one</pre></td>
        </tr>            
        <tr>
          <td class="text-right">My Fourth Option</td>
          <td><input name="mygroup_option_4" type="checkbox" class="tiny-toggle" checked data-tt-group="group-one"></td>
          <td><pre>group-one</pre></td>
        </tr>
        <tr>
          <td class="text-right">Group One Actions</td>
          <td colspan="2">
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('toggle', 'group-one')">Toggle</button>
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('check', 'group-one')">Check</button>
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('uncheck', 'group-one')">Uncheck</button>          
          </td>
        </tr>                    
        <tr><td colspan="3">&nbsp;</td></tr>        
        <tr>
          <td class="text-right">My Fifth Option</td>
          <td><input name="mygroup_option_5" type="checkbox" class="tiny-toggle" checked data-tt-group="group-two"></td>
          <td><pre>group-two</pre></td>
        </tr>                                  
        <tr>
          <td class="text-right">My Sixth Option</td>
          <td><input name="mygroup_option_6" type="checkbox" class="tiny-toggle" data-tt-group="group-two"></td>
          <td><pre>group-two</pre></td>
        </tr>                                  
        <tr>
          <td class="text-right">My Seventh Option</td>
          <td><input name="mygroup_option_7" type="checkbox" class="tiny-toggle" checked data-tt-group="group-two"></td>
          <td><pre>group-two</pre></td>
        </tr>                                  
        <tr>
          <td class="text-right">My Eighth Option</td>
          <td><input name="mygroup_option_8" type="checkbox" class="tiny-toggle" data-tt-group="group-two"></td>
          <td><pre>group-two</pre></td>
        </tr> 
        <tr>
          <td class="text-right">Group Two Actions</td>
          <td colspan="2" >
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('toggle', 'group-two')">Toggle</button>
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('check', 'group-two')">Check</button>
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('uncheck', 'group-two')">Uncheck</button>
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('disable', 'group-two')">Disable</button>
           <button class="myButton" onclick="$('#groups .tiny-toggle').tinyToggle('enable', 'group-two')">Enable</button>
          </td>
        </tr>                                                    
      </table>
      
    </div>
  </section>  
  
  
  <section id="ng" ng-app="ttApp">
    <div class="header">
      <h2>#7 - AngularJs Directive</h2>      
      <p>Directive for use TinyToggle in <span>AngularJs</span> projects</p>
    </div>  
    
    <div class="content">
      
      <div ng-non-bindable>
        <p>Use TinyToggle angular directive</p>
        
        
        <pre class="prettyprint code">/* Include angular tinytoggle module */  
&lt;script src=&quot;%your_js_assets_path%/ng.tinytoggle.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;        
</pre>
        
<pre class="prettyprint code">/* Add tinytoggle dependencing in your app */
angular.module('ttApp', ['tinytoggle'])
  .controller('DemoNgController', function($scope) {
    $scope.myValue = true;
    $scope.enabled = true;
    
    $scope.mychange = function() {        
      $scope.log("Value changed: " + $scope.myValue );
    }
    
    /* ...my others controller functions */    
  });        
        
</pre>

<pre class="prettyprint code">
// in HTML tag...        
&lt;input tiny-toggle ng-model="myValue"
  tt-ng-change="mychange()"
  tt-ng-click="myclick()"
  tt-ng-active="enabled" 
  tt-ng-ready="%myReadyFunc%"
  tt-ng-check="%myCheckFunc%"
  tt-ng-uncheck="%myUnCheckFunc%"
  tt-ng-enabled="%myEnabledFunc%"
  tt-ng-disabled="%myDisabledFunc%"
  type="checkbox" 
  class="tiny-toggle" 
  data-tt-size="big"&gt;
    
&lt;p&gt;The scope var 'myValue' now is: &lt;span&gt;{{ myToggleValue }}&lt;/span&gt;&lt;/p&gt;</pre>
      </div>        
      
      <div ng-controller="DemoNgController">
        <div>    
          <input tiny-toggle type="checkbox" ng-model="myValue" 
              tt-ng-change="mychange()"
              tt-ng-click="myclick()"
              tt-ng-active="enabled" 
              class="tiny-toggle" 
              data-tt-size="big">
        </div>
        <p>The scope var 'myValue' now is: <span>{{ myValue }}</span></p>
        
        <div>        
          <button class="myButton"  ng-click="myValue=!myValue">Switch Toggle Value</button>
          <button class="myButton" ng-click="enabled=!enabled">Enable/Disable</button>
          <button class="myButton" ng-click="logs=[]">Clear Logs</button>
        </div>
        
        <div class="event-log m-t">
          <p ng-repeat="row in logs"><span>Angular </span> {{ row }}</p>
        </div>
        
      <div class="m-t" ng-non-bindable>
        <p>Use tinyToggle in angular <span>ng-repeator</span></p>
        <pre class="prettyprint code">// in controller...
$scope.options = [
     {name:'Option One', val:true},
     {name:'Option Two', val:false},
     {name:'Option Three', val:true}
];
</pre>

<pre class="prettyprint code">
// in template ...
&lt;input tiny-toggle ng-repeat="opt in options" ng-model="opt.val" 
  type="checkbox" 
  data-tt-group="options-group"
  class="tiny-toggle"
  data-tt-label="{{ opt.name }}"&gt;
</pre>    
      </div>         
        
        <div class="m-t">
          <table class="table">
            <tr>
              <td colspan="2" class="title">Work With Groups on Angular Repeator</td>
            </tr>             
            <tr>
              <td style="width:50%;">
                <input ng-repeat="opt in options" tiny-toggle type="checkbox" ng-model="opt.val" 
                  class="tiny-toggle" 
                  data-tt-group="options-group"
                  data-tt-label="{{ opt.name }}">
              </td>
              <td style="width:50%;">
                  <pre style="color:font-face:monospace;font-size:11px;">{{ options | json }}</pre>                
              </td>             
            </tr>
            <tr>
              <td colspan="2" class="text-center">
                <button class="myButton" onCLick="$('.tiny-toggle').tinyToggle('toggle', 'options-group');">Toggle All Options</button>
                <button class="myButton" onClick="$('.tiny-toggle').tinyToggle('check', 'options-group');">Check All Options</button>
                <button class="myButton" onClick="$('.tiny-toggle').tinyToggle('uncheck', 'options-group');">Uncheck All Options</button>              
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
  </section>
   
  <section id="footer" class="b-t">
    <div class="text-center m-t"><span class="text-muted">Created by EnomisTheArtist - simone.righi@icloud.com</span></div>  
  </section>   
   
      
</div>
      
  <!-- js imports -->    
  <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="js/prettify.js"></script>
  
  <!-- angular js imports -->
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="../src/tinytoggle/js/ng-tiny-toggle.js"></script>
  <script type="text/javascript" src="js/ttApp.js"></script>
 
  
  <!-- LINK THE SRC TINYTOGGLE JS -->    
  <script type="text/javascript" src="../src/tinytoggle/js/tiny-toggle.js"></script>
  
  <script type="text/javascript">          
    $( document ).ready( function() {      
       
       prettyPrint();
      
       $("#types .tiny-toggle").tinyToggle();
       $("#sizes .tiny-toggle").tinyToggle();
       $("#groups .tiny-toggle").tinyToggle({ type: 'square' });
       $("#custom .tiny-toggle").tinyToggle();
       
       $("#cb1").tinyToggle({          
          onReady: function(obj) { writeLog("onReady", "TinyToggle '" + obj.attr("name") + "'  is ready!"); },
          onClick: function(obj) { writeLog("onClick", "TinyToggle '" + obj.attr("name") + "'  was clicked!"); },
          onChange: function(obj, value) { writeLog("onChange", "Input value changed for '" + obj.attr("name") + "' new value is " + value ); },
          onUncheck: function(obj) { writeLog("onUncheck", "Input '" + obj.attr("name") + "' now is FALSE"); },
          onDisabled: function(obj) { writeLog("onDisabled", "Input '" + obj.attr("name") + "' now is DISABLED"); },
          onEnabled: function(obj) { writeLog("onEnabled", "Input '" + obj.attr("name") + "' now is ENABLED"); }
        });
             
       $("#cb1").tinyToggle('event', 'onCheck', function(obj) { writeLog("onCheck", "Input '" + obj.attr("name") + "' now is TRUE"); });
       
    });
    
    function writeLog(event, msg){
      var output = "<span>TinyToggle::" + event + "</span> &gt; " + msg;
      $("#event-log").append( $("<p/>").html(output) ).scrollTop(+500);      
    }    
    
  </script>
  
 </body>
</html>
